.delete {
    width: 40px;
    text-align: center;
    height: 35px;
    cursor: pointer;
}


.delete-sing {
    position: relative;
}

.delete-sing::before,
.delete-sing::after {
    content: "";
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: rgb(255, 82, 82);
    width: 2px;
    height: 20px;
    vertical-align: middle;
}

.delete-sing::after {
    transform: rotate(55deg);
}

.delete-sing::before {
    transform: rotate(-55deg);
}